// Colors
$black: #000;
$white: #fff;
$light-grey: #f0f0f4;
$medium-grey: #ccd;
$dark-grey: #889;

$red: #e2001a;

// CI colors
$br-blue: #007bc2;
$br-light-blue: #12a4fb;
$br-dark-blue: #004872;
$br-orange: #f89147;
$br-green: #7db75b;

// Social Media colors
$facebook-blue: #3b5998;
$twitter-blue: #4099ff;
$whatsapp-green: #4dc247;
$google-red: #dd4b39;
$linkedin-blue: #007bb5;
$instagram-blue: #125688;
$mail-red: #cb2323;

.light-grey {
  color: $light-grey;
}

.medium-grey {
  color: $medium-grey;
}

.dark-grey {
  color: $dark-grey;
}

.br-blue {
  color: $br-blue;
}

.br-light-blue {
  color: $br-light-blue;
}

.br-dark-blue {
  color: $br-dark-blue;
}

.br-orange {
  color: $br-orange;
}

.br-green {
  color: $br-green;
}
