// General styles
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
}
