body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.6;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

h1, h2 {
  font-size: 1.5em;
  margin: 2em 0 1em;
}

p {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: inherit;
  box-shadow: inset 0 -3px 0 $medium-grey;
  transition: box-shadow .2s ease;

  &:hover {
    box-shadow: inset 0 -3px 0 $br-blue;
  }

  > img {
    border: 0;
  }
}

strong, b {
  font-weight: 600;
}

.author {
  color: $dark-grey;
  margin-top: -1em;
  font-weight: 300;
}

.small-margin {
  margin-bottom: 1em;
}
