.drawing {
  fill: $dark-grey;
  font-size: 12px;
  font-weight: 400;
  // overflow: visible;
}

.axis {
  line {
    stroke: $medium-grey;
    stroke-width: 1;
  }
}

.line {
  stroke: $dark-grey;
  stroke-width: 3;
}

.area {
  fill: none;
}

.your-line {
  stroke: $br-blue;
  stroke-width: 3;
  stroke-dasharray: 1 7;
  stroke-linecap: round;
}
