.draw {
  fill: $dark-grey;
  font-size: 12px;
  font-weight: 400;

  .axis {

    line {
      stroke: $medium-grey;
      stroke-width: 1;
    }
  }

  .lines path {
    fill: none;
    stroke: $dark-grey;
    stroke-width: 3;

    &.user {
      stroke: $br-blue;
      stroke-width: 3;
      stroke-dasharray: 1 7;
      stroke-linecap: round;
    }
  }
}
