.draw {

  margin-bottom: 1.5em;

  svg {
    overflow: visible;
  }

  text {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  circle {
    stroke: none;
  }

  path {
    fill: none;
  }

  .axis, .line, .highlight, .labels, .annotations, .hint {
    pointer-events: none;
  }

  .background {
    stroke: none;
    fill: $white;
  }

  .axis.y {

    line {
      stroke: $medium-grey;
      stroke-width: 1;
    }

    path {
      stroke: none;
      stroke-width: 0;
    }
  }

  .axis.x {

    line, path {
      stroke: $medium-grey;
      stroke-width: 1;
    }
  }

  .group, .highlight, .hint {

    text {
      text-shadow: 1px 0 0 $white, 0 1px 0 $white, -1px 0 0 $white, 0 -1px 0 $white;
    }
  }

  .hint {

    path {
      fill: $black;
    }
  }

  .previous {

    circle {
      fill: $red;
    }

    path {
      stroke-width: 3;
      stroke: $red;
    }
  }

  .current {

    circle {
      fill: $black;
    }

    path {
      stroke-width: 3;
      stroke: $black;
    }
  }

  .user {

    circle {
      fill: $dark-grey;
    }

    path {
      stroke: $dark-grey;
      stroke-width: 3;
      stroke-dasharray: 1 7;
      stroke-linecap: round;
    }
  }
}

@keyframes pulsating {
  from { transform: scale(1); opacity: 1; }
  to { transform: scale(3); opacity: 0; }
}

.pulsating {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: pulsating;
  transition-timing-function: ease;
}

@keyframes moving {
  0% { transform: translate(0, 10px); opacity: 1; }
  50% { transform: translate(120px, 25px); opacity: 0.9; }
  75% { transform: translate(290px, 20px); opacity: 0; }
  100% { transform: translate(290px, 20px); opacity: 0; }
}

.moving {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: moving;
  transition-timing-function: ease;
}

