// Marginals
.marginal {
  max-width: 20%;
  font-size: .8em;
  color: $dark-grey;
  padding: 0 2em;
  position: relative;

  p {
    margin: 0;
  }

  @include tablet {
    float: none;
    max-width: 100%;
    padding: 0;
    margin: -1em $margin-tablet 0;
    text-align: left;

    p {
      display: inline;

      &:first-child {
        margin-right: .3em;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: 0;
      width: 100px;
      border-top: 1px solid $medium-grey;
    }
  }

  @include mobile {
    margin: -1.5em $margin-mobile 0;
  }
}
