.modal {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,16,.7);
  text-align: center;
  z-index: 10;
  transition: opacity .3s ease;
  opacity: 0;
  pointer-events: none;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 70;
    width: 90%;
    max-width: 820px;
    background: $white;
    padding: 1em 1.5em 1.5em;

    h3 {
      margin-top: 0;
    }

    pre {
      margin-bottom: 0;
      max-height: 350px;
      overflow-y: scroll;

      @include mobile {
        max-height: 100px;
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: .5em;
    cursor: pointer;
    border: 0;
    font-size: 2em;
    color: $dark-grey;

    &:hover {
      color: $black;
    }
  }
}
