// Sharing
.sharing {
  line-height: 40px;
  font-size: 1.3em;
  cursor: pointer;
  color: $dark-grey;

  a {
    text-decoration: none;
  }

  .icon-facebook:hover {
    color: $facebook-blue;
  }

  .icon-twitter:hover {
    color: $twitter-blue;
  }

  .icon-whatsapp:hover {
    color: $whatsapp-green;
  }

  .icon-mail:hover {
    color: $mail-red;
  }
}
